<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="6.0">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>InventoryManagement/jsp/login/loginform.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>lognsevlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>im.processing.login.login</servlet-class>
  </servlet>
  <servlet>
    <display-name>registerservlet</display-name>
    <servlet-name>registerservlet</servlet-name>
    <servlet-class>im.processing.login.registration</servlet-class>
  </servlet>
   <servlet>
    <display-name>userhomeservlet</display-name>
    <servlet-name>userhomeservlet</servlet-name>
    <servlet-class>im.processing.catalogue.userhome</servlet-class>
  </servlet>
  <servlet>
    <display-name>addcatalogueservlet</display-name>
    <servlet-name>addcatalogueservlet</servlet-name>
    <servlet-class>im.processing.catalogue.addcatalogueservlet</servlet-class>
  </servlet>
  <servlet>
  	<display-name>deletecatalogueservlet</display-name>
    <servlet-name>deletecatalogueservlet</servlet-name>
    <servlet-class>im.processing.catalogue.deletecatalogueservlet</servlet-class>
  </servlet>
  <servlet>
  	<display-name>showcatalogueitemsservlet</display-name>
    <servlet-name>showcatalogueitemsservlet</servlet-name>
    <servlet-class>im.processing.citems.showcatalogueitemsservlet</servlet-class>
  </servlet>
  <servlet>
   <display-name>addcitemsservlet</display-name>
   <servlet-name>addcitemsservlet</servlet-name>
   <servlet-class>im.processing.citems.addcitemsservlet</servlet-class>
  </servlet>
   <servlet>
  	<display-name>deletecitemsservlet</display-name>
    <servlet-name>deletecitemsservlet</servlet-name>
    <servlet-class>im.processing.citems.deletecitemsservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registerservlet</servlet-name>
    <url-pattern>/registerservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userhomeservlet</servlet-name>
    <url-pattern>/userhomeservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addcatalogueservlet</servlet-name>
    <url-pattern>/addcatalogueservlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>deletecatalogueservlet</servlet-name>
    <url-pattern>/deletecatalogue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showcatalogueitemsservlet</servlet-name>
    <url-pattern>/showcatalogueitemsservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addcitemsservlet</servlet-name>
    <url-pattern>/addcitemsservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deletecitemsservlet</servlet-name>
    <url-pattern>/deletecitemsservlet</url-pattern>
  </servlet-mapping>
</web-app>